* {
    margin: 0;
    padding: 0;
    border: ;
    font-family: 'Oswald', sans-serif;
  }
  
  body {
    font-size: 14px;
  }


  

  #full-page {
    background-color: rgb(227 239 255);
  }

  #title {
    color: rgb(79 156 255);
    background-color: rgb(227 239 255);
    min-height: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 5;
    background-color: rgba(79, 156, 255, .75);
    width: 300px;
    max-width: 80%;
  }

.form.active {
  transform: translate(-50%, -50%) scale(1);
}

.form-content {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  padding-left: 10px;
}

.radiobutton2 {
  margin-right: 4px;
}

.readthebook {
  margin-top: 10px;
}

.confirmbook {
  margin-top: 10px;
  margin-bottom: 10px;
}

#background {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#background.active {
  opacity: 1;
  pointer-events: all;
}

#addbookdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 6px;
}

#addBook {
  cursor: pointer;
  font-weight: 600;
  border:1px solid rgb(79 156 255);
  padding: 4px;
  border-radius: 3px;
  background-color: rgb(250 195 96);
  
}

#bookcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
}

.bookPlates {
  background-color:rgb(248 238 221);
  border: 1px solid rgb(79 156 255);
  color: rgb(10, 10, 10);
  padding: 10px;
  margin: 5px;
  width: 150px;`
  min-height: 140px;
  border-radius: 5px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px rgba(1, 1, 1, 0.25);
  

}

.removebookbutton {
  margin: 10px;
  cursor: pointer;
}


.haveread-button {
  cursor: pointer;
  border: ;
  outline: none;
  background: ;
  font-weight: ;
  font-size: ;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}